body
{

}

/*Header mobile*/
header
{
    margin-top: 50px;



}
header .container
{
    height:80px;

}
nav
{
    background-color:#595959;

}
header .navbar .container-fluid
{
    height: 50px;
}

header .navbar .container-fluid img
{
    margin-top: -45px;
}

/* end Header mobile*/
